*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(228, 15%, 20%);
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    padding: 10px;
    font-weight: normal;
}
.nav{
    height: 60px;
    background: #1A1A1A4C;
}
.img__card{
    display: flex;
}
.img__card__s{
    display: flex;
}
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 35%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 45%);
}

.image__card:hover .projects__modal {
    bottom: 0;
}